<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order_list.name %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @order_list.prize %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_list.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @order_list.size %>
</p>

<p>
  <strong>Extratoppings:</strong>
  <%= @order_list.extraToppings %>
</p>

<p>
  <strong>Billamount:</strong>
  <%= @order_list.billAmount %>
</p>

<%= link_to 'Edit', edit_order_list_path(@order_list) %> |
<%= link_to 'Back', order_lists_path %>
